/* 
  Colour Pallete  
  #F7FBFC
  #D6E6F2
  #B9D7EA
  #769FCD
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Montserrat, sans-serif;
}

.container {
  display: flex;
}

/* header CSS */
header {
  background-color: #B9D7EA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 8%;
}

.header-logo {
  color: #769FCD;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: #769FCD;
}

nav a:hover {
  color: #F7FBFC;
}


/* hero CSS */
#hero-section {
  background-color: #D6E6F2;
  padding: 15% 16% 10% 8%;
}

#hero-section .container {
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 600px;
  min-width: 400px;
  color:#769FCD;
  font-size: 3rem;
}

.hero-image {
  width: 500px;
  border-radius: 12px;
}


/* about CSS */
#about-section {
  background-color: #F7FBFC;
  padding: 10% 8%;
}

#about-section .container {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-pfp {
  width: 300px;
  border: 3px solid #769FCD;
  border-radius: 50%;
  margin-bottom: 2%;
}

.about-heading {
  font-size: 2rem;
  color: #769FCD;
}

.about-text {
  max-width: 500px;
  text-align: center;
}