/* 
  Colour Pallete  
  #F7FBFC
  #D6E6F2
  #B9D7EA
  #769FCD
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Montserrat, sans-serif;
  background-color: #F7FBFC;;
}

.container {
  display: flex;
}

hr {
  width: 4%;
  margin: 0 auto;
  border: 8px;
  border-top-style: dotted;
  border-color: #D6E6F2;
}

/* header CSS */
header {
  background-color: #B9D7EA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 8%;
}

.header-logo {
  color: #769FCD;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: #769FCD;
}

nav a:hover {
  color: #F7FBFC;
}


/* hero CSS */
#hero-section {
  background-color: #D6E6F2;
  padding: 15% 16% 10% 8%;
}

#hero-section .container {
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 600px;
  min-width: 400px;
  color:#769FCD;
  font-size: 3rem;
}

.hero-image {
  width: 500px;
  border-radius: 12px;
}


/* about CSS */
#about-section {
  background-color: #F7FBFC;
  padding: 10% 8%;
}

#about-section .container {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-pfp {
  width: 300px;
  border: 3px solid #769FCD;
  border-radius: 50%;
  margin-bottom: 2%;
}

.about-heading {
  font-size: 2rem;
  color: #769FCD;
}

.about-text {
  max-width: 500px;
  text-align: center;
}

/* skills CSS */
#skills-section {
  background-color: #F7FBFC;
  padding: 5% 8%;
}

#skills-section .container {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.skills-heading {
  font-size: 2rem;
  color: #769FCD;
}

.skills-development,
.skills-music {
  max-width: 500px;
}

.development-heading,
.music-heading {
  font-size: 1.5rem;
  color: #769FCD;
}


/* contact CSS */
#contact-section {
  padding: 5% 8%;
}

#contact-section .container {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contact-heading {
  font-size: 2rem;
  color: #769FCD;
}

.contact-lure {
  font-size: 1.5rem;
  color: #769FCD;
}

.contact-text {
  max-width: 500px;
}

.contact-btn {
  border: none;
  background-color: #769FCD;
  padding: 5px 10px;
  border-radius: 12px;
  color: #F7FBFC;
}

#contact-section a {
  text-decoration: none;
  color: #769FCD;
}

#contact-section a:hover {
  color: #D6E6F2;
}


/* footer CSS */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 8%;
  background-color: #B9D7EA;
  color: #F7FBFC;
}